name: kroko-build-wheels-linux

on:
  push:
    branches: [wheel]
  workflow_dispatch:
    inputs:
      publish_sherpa_onnx_bin:
        description: "Publish sherpa-onnx-bin"
        required: false
        default: "true"
        type: boolean

env:
  SHERPA_ONNX_IS_IN_GITHUB_ACTIONS: 1

concurrency:
  group: build-wheels-linux-${{ github.ref }}
  cancel-in-progress: true

jobs:
  core:
    name: core
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update version
        run: |
          ./new-release.sh
          git diff .

      - name: Build sherpa-onnx (manylinux)
        uses: addnab/docker-run-action@v3
        with:
          image: quay.io/pypa/manylinux2014_x86_64
          options: |
            --volume ${{ github.workspace }}:/workspace
          shell: bash
          run: |
            set -eux

            cd /workspace

            PY_PATH=$(echo /opt/_internal/cpython-3.10*/bin)
            export PATH=$PY_PATH:$PATH

            python3 -m venv venv
            source venv/bin/activate
            python3 -m pip install --upgrade pip setuptools wheel twine

            git clone --depth 1 --branch v1.2.12 https://github.com/alsa-project/alsa-lib
            pushd alsa-lib
            ./gitcompile
            popd

            OPENSSL_VERSION=1.1.1w

            curl -LO https://www.openssl.org/source/openssl-$OPENSSL_VERSION.tar.gz
            tar xf openssl-$OPENSSL_VERSION.tar.gz
            cd openssl-$OPENSSL_VERSION
            ./config no-shared --prefix=$PWD/install
            make -j2
            make install
            cd ..

            export OPENSSL_ROOT_DIR=$PWD/openssl-$OPENSSL_VERSION/install

            export CPLUS_INCLUDE_PATH=$PWD/alsa-lib/include
            export C_INCLUDE_PATH=$PWD/alsa-lib/include
            export SHERPA_ONNX_ALSA_LIB_DIR=$PWD/alsa-lib/src/.libs

            mkdir -p build
            cd build

            cmake \
              -D SHERPA_ONNX_ENABLE_TTS=ON \
              -D CMAKE_BUILD_TYPE=Release \
              -D BUILD_SHARED_LIBS=ON \
              -D SHERPA_ONNX_BUILD_C_API_EXAMPLES=OFF \
              -D CMAKE_INSTALL_PREFIX=install \
              ..

            make -j2
            make install

            rm -f install/lib/libcargs.so

            ### sherpa-onnx-core
            mkdir -p /workspace/scripts/wheel/sherpa-onnx-core/sherpa_onnx/lib
            mkdir -p /workspace/scripts/wheel/sherpa-onnx-core/sherpa_onnx/include/sherpa-onnx/c-api

            cp -v install/lib/lib*.so \
              /workspace/scripts/wheel/sherpa-onnx-core/sherpa_onnx/lib

            cp -v install/include/sherpa-onnx/c-api/*.h \
              /workspace/scripts/wheel/sherpa-onnx-core/sherpa_onnx/include/sherpa-onnx/c-api

            pushd /workspace/scripts/wheel/sherpa-onnx-core
            python3 setup.py bdist_wheel --plat-name=manylinux2014_x86_64
            popd

            ### sherpa-onnx-bin
            mkdir -p /workspace/scripts/wheel/sherpa-onnx-bin/bin
            cp -v install/bin/sherpa-onnx* \
              /workspace/scripts/wheel/sherpa-onnx-bin/bin

            pushd /workspace/scripts/wheel/sherpa-onnx-bin
            python3 setup.py bdist_wheel --plat-name=manylinux2014_x86_64
            popd

      - name: Debug wheels
        run: |
          find scripts/wheel -type f

      - name: Collect wheels
        run: |
          sudo chown -R $(id -u):$(id -g) scripts/wheel
          mkdir -p wheelhouse
          cp -v scripts/wheel/sherpa-onnx-core/dist/*.whl wheelhouse/
          cp -v scripts/wheel/sherpa-onnx-bin/dist/*.whl wheelhouse/

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-core-linux-x64
          path: wheelhouse/*.whl

      - name: Install patchelf
        run: |
          sudo apt-get update -q
          sudo apt-get install -q -y patchelf

      - name: Patch wheels
        run: |
          mkdir wheels
          sudo ./scripts/wheel/patch_wheel.py \
            --in-dir wheelhouse \
            --out-dir wheels
          rm -rf wheelhouse
          mv wheels wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-core-linux-x64-patched
          path: wheelhouse/*.whl

  test:
    needs: core
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: wheels-core-linux-x64-patched
          path: /tmp/wheels

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install wheels
        run: |
          python3 -m pip install /tmp/wheels/*.whl

      - name: Smoke test
        run: |
          sherpa-onnx-version
          sherpa-onnx --help
          sherpa-onnx-offline --help
          sherpa-onnx-vad --help
